{% extends 'base.html' %}
{% block head %}
<title>TUNE-QUICK</title>
{% endblock %}

{% block body %}
<div class="container">
  <main>
    <div class="py-5 text-center">
      <h2> Welcome to TUNE-QUICK, Train deep learning algorithms with 0 code </h2>
      <p class="lead">
          TUNE-QUICK helps you to explore which algorithm and parameters is the best for your dataset
      </p>
    </div>

    <div class="row g-5">
      <div class="col-md-12 col-lg-12">

        <form class="needs-validation" action="/" , method="POST" enctype="multipart/form-data">
          <div class="row g-3">
            <div class="col-sm-6 input files">

                <!-- section 01 for uploading csv files !-->
                <label class="form-label" for="customFile">Upload Your CSV File</label>
                <input name="csv-file" type="file" class="form-control" id="customFile" /> <br>
            </div>

            <div class="col-md-4 choose-algorithme">
                <!-- section 02  choose the suitable algorithm !-->
              <label for="state" class="form-label">Choose Algorithm</label>
              <select name="algorithm" class="form-select" id="state" required>
                <option value="">Choose...</option>
                <option>GRU</option>
                  <option>LSTM</option>
              </select>
              <div class="invalid-feedback">
                Please provide a valid state.
              </div>
            </div>
              <hr class="my-4">
              <div class="col-12">

                  <div class="row">
                      <div class="col-6">

                    <!-- section 03 for chose loss function !-->
                          <select name="loss-function" class="form-select" id="state" required>
                <option value="">Choose loss function </option>
                <option>mean_squared_error</option>
                  <option></option>
              </select> <br>
                          <!-- number of epochs !-->
                          <input name="epochs" type="text" class="form-control col-1" id="customFile" placeholder="Enter number of epochs..."/> <br>

                            <!-- batch size !-->
                          <input name="batch-size" type="text" class="form-control col-1" id="customFile"placeholder="Enter batch size..." />
                      </div>
                       <div class="col-6">
                           <!-- optimizer  !-->
                           <select name="optimizer" class="form-select" id="state" required>
                <option value="">Choose an optimizer </option>
                <option value="adam">adam</option>
                  <option value="rmsprop">rmsprop</option>
              </select> <br>
                           <!-- chart title !-->
<input name="chart-title" type="text" class="form-control col-1" id="customFile"placeholder="Enter chart title..." /> <br>
                            <!-- X axis title !-->
<input name="x-axis" type="text" class="form-control col-1" id="customFile"placeholder="Enter x-axis title..." /><br>
                           <!-- y axis title !-->
<input name="y-axis" type="text" class="form-control col-1" id="customFile"placeholder="Enter y-axis title..." />

                      </div>
                  </div>
              </div>

              <div class="col-12 submit">
                   <input type="submit" value="Train" class="btn btn-outline-primary col-12" id="customFile" />
              </div>

          <hr class="my-4">

<div class="" style="margin-right: 500px">
            <div class="col-12 align-self-center LSTM-RESULT"  >


                {{ bar_chart|safe }}


              <div class="invalid-feedback">
                Please provide a valid state.
              </div>
            </div>

</div>
        </form>
      </div>
    </div>
  </main>

  <footer class="my-5 pt-5 text-muted text-center text-small">
    <p class="mb-1">&copy; 2022 Youcef Guichi</p>
  </footer>
</div>

<script>


                </script>
    <script src="/docs/5.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

      <script src="form-validation.js"></script>
{% endblock %}